.registerPage {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.formContainer {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.overlay {
  color: white;
  position: absolute;
  top: 20px; /* Adjust as needed */
  text-align: center;
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
}

h2 {
  margin-bottom: 10px;
}

.subheader {
  color: gray;
  margin-bottom: 30px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxContainer input {
  margin-right: 10px;
  transform: scale(1.5); /* Make the checkbox larger */
}

.checkboxContainer label {
  margin: 0;
}

.submitButton {
  background-color: #ff69b4; /* Light pink color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #ff1493; /* Deep pink color */
}

.error {
  color: red;
  margin-bottom: 20px;
}

p {
  margin-top: 20px;
}

a {
  color: #ff1493;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
